body {
  background: #f9c535;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #334854;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: #e04462;
  font-size: 20px;
}

a {
  color: #e04462;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App header {
  padding: 30px;
  margin: 20px;
}

.App .app-footer {
  text-align: center;
  margin: 30px 0;
}
