.Dictionary h2 {
  margin-bottom: 10px;
}
.Dictionary section {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
  margin: 20px;
}

.Dictionary input {
  color: #334854;
  width: 100%;
  padding: 4px 4px;
  border: 1px solid #e04462;
  border-radius: 4px;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 4px;
  opacity: 0.7;
}
