.Dictionary section {
  background: #f2f2f2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 4px 4px;
}
