.Meaning h3 {
  font-size: 30px;
  font-weight: bold;
  color: #e04462;
  line-height: 1.5;
}

.Meaning .definition {
  font-size: 18px;
  font-weight: bold;
  color: #e04462;
  line-height: 1.5;
  display: inline-block;
}

.Meaning .example {
  font-size: 16px;
  font-style: italic;
  color: #e04462;
  line-height: 1.5;
  opacity: 0.6;
  display: inline-block;
}

.Meaning .definition:first-letter {
  text-transform: uppercase;
}
.Meaning .example:first-letter {
  text-transform: uppercase;
}
